@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
a {text-decoration: none;
    color: #000;
}
ul, ol {
    list-style: none;
}

.swiper-button-next::after, .swiper-button-prev::after {
    display: none;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
    opacity: 1;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    width: 30px;
    height: 10px;
    background-color: #ffc300;
    border-radius: 12px;
    position: absolute;
    right: 365px;
    bottom: 50px;
}
.menubox::after {
    content: "";
    position: absolute;
    width: 98px;
    height: 98px;
    background-image: url("../public/img/btn_more.png");
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -42px;
    opacity: 0;
}
.menubox:hover::after {
    opacity: 1;
}
.contentmenu {
    background-image: url("../public/img/bg_content.gif");
}
.amused {
    background-image: url("../public/img/bg_utilization.png");
}
.history {
    background-image: url("../public/img/img_subway_history.png");
}
.contentbottomtitle {
    background-image: url("../public/img/bul_tit.png");
    background-repeat: no-repeat;
}